/* Blog Extra */
[class^=mosaica] .block-title-wrap {line-height: 24px;}
[class^=mosaica] .block-title-wrap h4 {padding: 7px 12px 5px;}
[class^=mosaica] h3.post-title a {display: inline-block;padding: 0 7px;}
[class^=mosaica] .post-data-wrap {padding: 2px 7px;}

[class^=template-] .block-title-wrap {line-height: 24px;}
[class^=template-] .block-title-wrap h4 {padding: 7px 12px 5px;line-height: 16px;}
[class^=template-] .post-info a {transition: all .2s ease;}

/* Blog */
.blog-post-view .post-bottom .block.related .block-title strong {padding-bottom: 3px;}
.blog-post-view .post-list.modern .post-info .post-description a {color: var(--color-secondary);}


/* Fix Related Products */
/*.blog-post-view .mfblog-related-products-block .block-content {padding: 0;}*/
/*.blog-post-view .mfblog-related-products-block .products-grid .product-items {display: grid;grid-template-columns: repeat(2, 1fr);gap: 1rem;margin: 0;}*/
/*.blog-post-view .mfblog-related-products-block .products-grid .product-items .product-item {border: 1px solid transparent;transition: all .3s ease;}*/
/*.blog-post-view .mfblog-related-products-block .products-grid .product-items .product-item.product-item-info {width: auto;}*/
/*@media (min-width: 769px){*/
/*	.blog-post-view .mfblog-related-products-block .products-grid .product-items {display: grid;grid-template-columns: repeat(3, 1fr);gap: 1rem;}*/
/*}*/
/*@media (min-width: 1024px){*/
/*	.blog-post-view .mfblog-related-products-block .products-grid .product-items {display: grid;grid-template-columns: repeat(5, 1fr);gap: 1rem;}*/
/*}*/
/* END Fix Related Products */

/* Search Widget */
/*.widget.blog-search .action.search {background: none;}*/
/*.widget.blog-search .action.search:before {-webkit-font-smoothing: antialiased;content: '\e615';font-family: 'icons-blank-theme';font-size: 22px;line-height: 22px;color: #8f8f8f;font-weight: normal;margin: 0;vertical-align: top;display: inline-block;overflow: hidden;speak: none;width: 22px;height: 22px;opacity: 1;background-image: none;}*/
/* Search Widget */