/* home-page.css */

.content-heading .title {padding-bottom: 10px;}


.cms-home_page .column.main {padding-left: 15px;padding-right: 15px;}
.home-block-1 {margin-bottom: 60px;overflow: hidden;}
.home-block-1 * {box-sizing: border-box;}

.home-block-1 .blocks-content .blocks-content-wrapper {}
.home-block-1 .block-left {width: 38%;float: left;position: relative;}
.home-block-1 .block-left img {max-width: 100%;}
.home-block-1 .block-label {display: block;position: absolute;padding: 20px 30px;bottom: 0;left: 0;}
.home-block-1 .block-label .title {font-family: "Open Sans Semibold", sans-serif;font-size: 50px;line-height: 50px;color: #ffffff;}
.home-block-1 .block-label .more {display: inline-block;width: 53px;height: 29px;
    /*background: url("{{media url=wysiwyg/home/new/arrow-right.png}}") no-repeat 0 0;*/
    background: url("../images/arrow-right.png") no-repeat 0 0;
    background-size: cover;margin-left: 10px;}
.home-block-1 a.link {display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;text-decoration: none}
.home-block-1 .block-right {width: calc(60% - 20px);margin-left: 20px;float: left;}
.home-block-1 .row-1 {height: calc(50% - 10px);margin-bottom: 20px;position: relative;}
.home-block-1 .row-2 {height: calc(50% - 10px);display: flex;}
.home-block-1 .block-right .row-2 > .row-2-1 {width: 57%;position: relative;}
.home-block-1 .block-right .row-2 > .row-2-2 {width: 40%;position: relative;margin-left: 20px;}
.home-block-1 .block-right .row-2 > .row-2-2 .all-screen {width: 100%;height: auto;max-width: 282px;display: block;}
.home-block-1 .circle {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;}
.home-block-1 .circle .arrow-brown {width: 22px;height: 13px;display: inline-block;margin-left: 10px;margin-top: -2px;}
.home-block-1 .mfwebp  {display: contents;}

.home-block-3 {margin-bottom: 100px;}
.home-block-3 .content-heading {font-size: 40px;}
.home-block-3 .content-heading:before {content: none;}
.home-block-3 .content-heading .info {color: #858585;font-size: 23px;}

.home-block-4 {margin: 120px 0;}
.home-block-4 .blocks-content {background: linear-gradient(67deg, #F8D44C 0%, #EAEC77 100%);}
.home-block-4 .blocks-content {padding: 0 50px;}
.home-block-4 .blocks-content .blocks-content-wrapper {display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.home-block-4 .blocks-content .sale {width: 35%;
    /*background: url("{{media url=wysiwyg/home/new/sale-tr.png}}") no-repeat center center;*/
    background: url("../images/sale-tr.png") no-repeat center center;
    min-height: 254px;background-size: cover;}
.home-block-4 .blocks-content .sale {}
.home-block-4 .blocks-content .block-title {width: 30%;}
.home-block-4 .blocks-content .actions {width: 30%;text-align: right;}
.home-block-4 .blocks-content .actions button {padding: 24px 30px;font-size: 18px;width: 100%;max-width: 216px;}

.home-block-6 {margin: 120px 0;}
.home-block-6 .blocks-content {background: linear-gradient(295deg, #FFD9BD 0%, #9A74EA 100%);}
.home-block-6 .blocks-content {padding: 40px 50px;}
.home-block-6 .blocks-content .blocks-content-wrapper {display: flex;align-items: center;justify-content: space-between;min-height: 174px;max-width: 1080px;margin: 0 auto;}
.home-block-6 .block-title {max-width: 60%;}
.home-block-6 .blocks-content .actions button {padding: 24px 30px;font-size: 18px;width: 100%;max-width: 216px;}
.home-block-6 .blocks-content .actions button:hover {}

@media (min-width: 640px) {
    .home-block-1 .block-right .row-2 > .row-2-1 .title {display: none;}
    .home-block-1 .block-right .row-2 > .row-2-1 .more {display: none;}
    .home-block-1 .desctop {display: block;}
    .home-block-1 .mobile {display: none;}
}
@media (max-width: 767px) {
    .home-block-4 .blocks-content .blocks-content-wrapper {flex-direction: column;}
    .home-block-4 .blocks-content .sale {background-size: contain;width: 100%;background-position: 0;}
    .home-block-4 .blocks-content .block-title {width: 100%;text-align: center;}
    .home-block-4 .blocks-content .actions {width: 100%;text-align: center;margin: 40px 0;}
}
@media (max-width: 639px) {
    .home-block-1 .block-left {width: 100%;float: none;margin-bottom: 20px;}
    .home-block-1 .block-left img {width: 100%;height: auto;}
    .home-block-1 .block-right {width: 100%;float: none;margin: 0;overflow: hidden;display: flex;}
    .home-block-1 .row-1 {width: calc(50% - 10px);margin: 0;float: left;}
    .home-block-1 .row-1 img {width: 100%;height: auto;}
    .home-block-1 .row-2 {width: calc(50% - 10px);margin: 0 0 0 20px;float: left;flex-direction: column;height: auto;}
    .home-block-1 .block-right .row-2 > .row-2-1 {width: 100%;margin-bottom: 20px;height: calc(45% - 10px);}
    .home-block-1 .block-right .row-2 > .row-2-1 img {width: 100%;height: 100%;}
    .home-block-1 .block-right .row-2 > .row-2-2 {width: 100%;margin: 0;height: 100%;}
    
    .home-block-1 .block-label {left: 0;top: 0;}
    .home-block-1 .block-label .title {font-size: 23px;line-height: 30px;}
    .home-block-1 .block-label .more {width: 29px;height: 16px;background-size: cover;}
    .home-block-1 .desctop {display: none;}
    .home-block-1 .mobile {display: block;}
    
    .home-block-6 .blocks-content .blocks-content-wrapper {flex-direction: column;}
}
